.container {
    margin-top: 20px;
  }
  
  .style {
    margin-bottom: 20px;
  }
  
  .card-img-top {
    width: 100%;
    height: auto;
  }
  
  .card-img{
    position: relative;
  }
  .card-body {
    padding: 1rem;
  }
  
  .card-title {
    margin-bottom: .75rem;
  }
  
  .card-text {
    margin-bottom: .75rem;
  }
  
  figure {
    margin: 0;
  }
