.formstyle {
    background-color: #77dd77;
    color: #f9f7f7;
    width: 60%;
    height: 50%;
    align-items: center;
}

.formstyle h1{
    text-align: center;
    font-size: 25px;
}
button{
    text-align: center;
}
